<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<!--<p th:text="${result}"/>-->
<div th:text = "User : ${result}">
    <br><br>
</div>
<!--<div th:each="car : ${result}">-->
<!--    <span th:text="'Model - ' + ${car.model} + '; '">Car Model</span>-->
<!--    <span th:text="'Color - ' + ${car.color} + '; '">Car Color</span>-->
<!--    <span th:text="'Driver - ' + ${car.driver} + '; '">Car driver</span>-->
<!--    <br><br>-->
<!--</div>-->
</body>
</html>